<!DOCTYPE html>
<html lang="en" ng-app="socketExecutor">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Executor</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="bower_components/bootstrap-css-only/css/bootstrap.min.css">
    
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-websocket/angular-websocket.js"></script>
  <script src="bower_components/angular-scroll-glue/src/scrollglue.js"></script>
  <script src="app.js"></script>
  
</head>
<body>

  <div ng-controller="socketExecutor" class="full-height">
    <div class="container-fluid full-height">
        <div class="row text-center ">
            <div class="col-xs-12 col-sm-6 rounded-corners" ng-class="stream.readyState() == 1 ? 'good' : 'bad'">Socket State: {{stream.readyState()}}</div>
            <div class="col-xs-12 col-sm-6 rounded-corners" ng-class="stream.running() && (stream.readyState() == 1) ? 'good' : 'bad'">Process State: {{stream.running() && (stream.readyState() == 1) ? "running" : "terminated/unknown"}}</div>
        </div>
        
        <div class="row console rounded-corners full-height" scroll-glue>
                <table class="full-width">
                    <tr ng-repeat="log in logs">
                        <td class="noselect index">{{log.index}}</td>
                        <td class="message-item full-width" ng-class="{'stderr': log.stream=='stderr'}">{{log.msg}}</td>
                    </tr>
                </table>
        </div>
        <div class="row console rounded-corners message-box" scroll-glue>
            <table >
                <thead>
                    <tr>
                        <td>#</td>
                        <td>type</td>
                        <td>message</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="message in messages" >
                        <td class="index">{{message.index}}</td>
                        <td>{{message.type}}</td>
                        <td>{{message.msg}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <form ng-submit="sendCommand()">
                <div class="col-xs-12 col-sm-3">
                    <select class="form-control" ng-model="selectedDirective" ng-options="key for key in directives"> </select>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <input type="submit" value="Send" class="form-control">
                </div>
                
            </form>
        </div>
    </div>
  </div>


</body>
</html>